.formulaPage,
.mathFormulaPage,
.physicsFormulaPage,
.rectangleAreaPage,
.rectanglePerimeterPage,
.squareAreaPage,
.squarePerimeterPage,
.triangleAreaPage,
.trianglePerimeterPage,
.circleAreaPage,
.circleCircumferencePage,
.trapezoidAreaPage, 
.slopePage,
.distancePage,
.midpointPage,
.pythagoreanPageA,
.pythagoreanPageB,
.pythagoreanPageC {
    display: none;
}


body {
    margin:0;
    font-family: 'Baloo 2', sans-serif;
    background:rgb(0, 98, 54);
    min-height: 100vh;
    color: rgb(255,255,255);
}

.StartPage {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:relative;
}

.StartPage::before {
    content:"";
    position:absolute;
    inset: 12px;
    border: 8px solid rgb(255,255,255);
    border-radius: 35px 60px 45px 70px;
    pointer-events: none;
}

.StartPage h1{
    margin: 0;
    color: rgb(255,255,255);
    font-size: 90px;
    font-weight: 800;
    letter-spacing: 3px;
    text-align: center;
    text-shadow: 5px 5px 0px rgba(11, 61, 46, 0.718);

 
}

p {
    color: rgb(255,255,255);
    font-size: 20px;
    text-align: center;
    margin: 20px 0;
    text-decoration: underline;
    text-decoration-color: rgba(11, 61, 46, 0.89);
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;

}

.categoryButtons{
    display:flex;
    gap:35px;
    margin-top:40px;
    padding:15px 35px;
}

.categoryButtons button {
    border:none;
    border-radius:15px;
    background: rgb(247, 249, 248);
    color: rgb(11, 61, 46);
    font-family: 'Baloo 2', sans-serif;
    font-size:18px;
    font-weight: 800;
    width: 180px;
    height: 50px;
    box-shadow: 5px 5px 0px rgba(11, 61, 46, 0.718);
    cursor:pointer;
    transition: 0.2s ease;
}

.categoryButtons button:hover {
    
    background: rgb(128, 170, 144);
    color: rgb(6, 42, 31);
    transform: scale(1.2);
    cursor:pointer;
}



.formulaPage {
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    display: none;
    position: relative;
}

.formulaPage::before{
    content:"";
    position:absolute;
    inset: 12px;
    min-height: calc(100% - 24px);
    border: 8px solid rgb(255,255,255);
    border-radius: 35px 60px 45px 70px;
    pointer-events:none;
}

.formulaPage h1 {
    margin-top: 80px;
    font-size: 65px;
    font-weight:800;
    letter-spacing:3px;
    text-shadow: 5px 5px 0px rgba(11, 61, 46, 0.718);
    font-family: 'Baloo 2', sans-serif;
}

#backButton {
    border:none;
    border-radius:15px;
    background: rgb(247, 249, 248);
    color: rgb(11, 61, 46);
    font-family: 'Baloo 2', sans-serif;
    font-size:18px;
    font-weight: 800;
    width: 80px;
    height: 35px;
    position: absolute;
    top: 35px;
    left: 35px;
    box-shadow: 4px 4px 0px rgba(11, 61, 46, 0.718);

    cursor:pointer;
    transition: 0.2s ease;

}

#backButton:hover {
    background: rgb(128, 170, 144);
    color: rgb(6,42,31);
    transform:scale(1.2);

}

.mathSection, .physicsSection{
    width: 90%;
}

.mathSection h2, .physicsSection h2 {
    width:100%;
    font-size: 40px;
    margin: 30px 0 20px;
    padding: 15px 0;
    font-weight: 800;
    letter-spacing: 2px;
    text-align: left;
    text-shadow: 3px 3px 0px rgba(11, 61, 46, 0.718);
    font-family: 'Baloo 2', sans-serif;
    border-top: 3px solid rgb(128, 170, 144);
    border-bottom: 3px solid rgb(128, 170, 144);
}

.formulaContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    row-gap: 35px;
    width: 90%;
    margin: 20px;
}

.formulaButton {
    border:none;
    border-radius: 18px;
    background: rgb(247, 249, 248);
    color: rgb(11, 61, 46);
    font-family: 'Baloo 2', sans-serif;
    font-size: 20px;
    font-weight:800;
    letter-spacing: 1px;
    min-height: 80px;
    padding: 15px 20px;
    box-shadow: 4px 4px 0px rgba(11, 61, 46, 0.718);
    cursor:pointer;
    transition: 0.5s ease;
}

.formulaButton:hover {
    background: rgb(128,170,144);
    color: rgb(6, 42, 31);
    transform: scale(1.2);
}

.mathFormulaPage {
    min-height: 100vh;
    display:none;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.mathFormulaPage::before{
    content:"";
    position:absolute;
    inset: 12px;
    min-height: calc(100% - 24px);
    border: 8px solid rgb(255,255,255);
    border-radius: 35px 60px 45px 70px;
    pointer-events:none;

}

.mathFormulaPage h1{
    margin-top: 80px;
    font-size: 65px;
    font-weight:800;
    letter-spacing:3px;
    text-shadow: 5px 5px 0px rgba(11, 61, 46, 0.718);
    font-family: 'Baloo 2', sans-serif;

}


#mathBackButton {
    border:none;
    border-radius:15px;
    background: rgb(247, 249, 248);
    color: rgb(11, 61, 46);
    font-family: 'Baloo 2', sans-serif;
    font-size:18px;
    font-weight: 800;
    width: 80px;
    height: 35px;
    position: absolute;
    top: 35px;
    left: 35px;
    box-shadow: 4px 4px 0px rgba(11, 61, 46, 0.718);

    cursor:pointer;
    transition: 0.2s ease;

}

#mathBackButton:hover {
    background: rgb(128, 170, 144);
    color: rgb(6,42,31);
    transform:scale(1.2);
}

.physicsFormulaPage {
    min-height:100vh;
    display:none;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.physicsFormulaPage::before{
    content:"";
    position:absolute;
    inset: 12px;
    min-height: calc(100% - 24px);
    border:8px solid rgb(255,255,255);
    border-radius: 35px 60px 45px 70px;
    pointer-events: none;
}
.physicsFormulaPage h1 {
    margin-top: 80px;
    font-size:65px;
    font-weight:800;
    letter-spacing:3px;
    text-shadow: 5px 5px 0px rgba(11,61,46,0.718);
    font-family: 'Baloo 2', sans-serif;
}

#physicsBackButton {
    border:none;
    border-radius:15px;
    background:rgb(247, 249, 248);
    color: rgb(11,61,46);
    font-family: 'Baloo 2', sans-serif;
    font-size: 18px;
    font-weight: 800;
    width: 80px;
    height: 35px;
    position:absolute;
    top: 35px;
    left: 35px;
    box-shadow: 4px 4px 0px rgba(11,61,46,0.718);

    cursor:pointer;
    transition: 0.2s ease;
}

#physicsBackButton:hover {
    background: rgb(128, 170, 144);
    color: rgb(6,42,31);
    transform:scale(1.2);
}

.rectangleAreaPage {
    min-height:100vh;
    display:none;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.rectangleAreaPage::before{
    content:"";
    position:absolute;
    inset: 12px;
    min-height: calc(100% - 24px);
    border: 8px solid rgb(255,255,255);
    border-radius: 35px 60px 45px 70px;
    pointer-events:none;

}

.rectangleAreaPage h1 {
    margin-top:80px;
    font-size:65px;
    font-weight:800;
    letter-spacing:3px;
    text-shadow: 5px 5px 0px rgba(11, 61, 46, 0.718);
    font-family: 'Baloo 2', sans-serif;
}

.calculatorBox {
    display: flex;
    flex-direction:column;
    border:none;
    align-items:center;
    width:600px;
    height:270px;
    padding:35px;





    border-radius:25px;
    background: rgba(247, 249, 248, 0.163);
    box-shadow: 5px 5px 0px rgba(11, 61, 46, 0.718);
}


.calculatorBox label {
    color: rgb(11,61,46);
    font-size:22px;
    font-weight:800;
    margin-bottom:8px;
}

.calculatorBox input {
    width:250px;
    height:40px;
    border: 3px solid rgb(11,61,46);
    border-radius: 10px;
    font-family:'baloo 2', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.calculatorBox input:focus {
    outline: none;
    border-color: rgb(128, 170, 144);
}

#rectangleAreaBackButton {
    border:none;
    border-radius:15px;
    background:rgb(247, 249, 248);
    color: rgb(11,61,46);
    font-family: 'Baloo 2', sans-serif;
    font-size: 18px;
    font-weight: 800;
    width: 80px;
    height: 35px;
    position:absolute;
    top: 35px;
    left: 35px;
    box-shadow: 4px 4px 0px rgba(11,61,46,0.718);

    cursor:pointer;
    transition: 0.2s ease;
}

#rectangleAreaBackButton:hover {
    background: rgb(128, 170, 144);
    color: rgb(6,42,31);
    transform:scale(1.2);
}

#rectangleAreaResult {
    color: rgb(11,61,46);
    font-size:24px;
    font-weight:800;
    margin:15px 0 0;
}

#calculateRectangleArea {
    border: none;
    border-radius:15px;
    background: rgb(11,61,46);
    color: rgb(247,249,248);
    font-family: "baloo 2";
    font-size:18px;
    font-weight: 800;
    width: 180px;
    height: 30px;
    box-shadow: 4px 4px 0px rgba(11, 61, 46, 0.718);
    cursor: pointer;
    transition: 0.3s ease;
    margin-top:5px;
}

#calculateRectangleArea:hover {
    background: rgb(128, 170, 144);
    color: rgb(6,42,31);
    transform:scale(1.2);
}


.squareAreaPage{
    min-height:100vh;
    display:none;
    flex-direction:column;
    align-items: center;
    position:relative
}


.squareAreaPage::before{
    content: "";
    position:absolute;
    inset: 12px;
    min-height: calc(100% - 24px);
    border: 8px solid rgb(255,255,255);
    border-radius: 35px 60px 45px 70px;
    pointer-events:none;
}

.squareAreaPage h1 {
    margin-top:80px;
    font-size:65px;
    font-weight:800;
    letter-spacing:3px;
    text-shadow: 5px 5px 0px rgba(11, 61, 46, 0.718);
    font-family: 'Baloo 2', sans-serif;

}

#squareAreaBackButton {
    border:none;
    border-radius:15px;
    background:rgb(247, 249, 248);
    color: rgb(11,61,46);
    font-family: 'Baloo 2', sans-serif;
    font-size: 18px;
    font-weight: 800;
    width: 80px;
    height: 35px;
    position:absolute;
    top: 35px;
    left: 35px;
    box-shadow: 4px 4px 0px rgba(11,61,46,0.718);

    cursor:pointer;
    transition: 0.2s ease;
}

#squareAreaBackButton:hover {
    background: rgb(128, 170, 144);
    color: rgb(6,42,31);
    transform:scale(1.2);
}


#squareAreaResult {
    color: rgb(11,61,46);
    font-size:24px;
    font-weight:800;
    margin:15px 0 0;
}

#calculateSquareArea {
    border: none;
    border-radius:15px;
    background: rgb(11,61,46);
    color: rgb(247,249,248);
    font-family: "baloo 2";
    font-size:18px;
    font-weight: 800;
    width: 180px;
    height: 30px;
    box-shadow: 4px 4px 0px rgba(11, 61, 46, 0.718);
    cursor: pointer;
    transition: 0.3s ease;
    margin-top:5px;
}

#calculateSquareArea:hover {
    background: rgb(128, 170, 144);
    color: rgb(6,42,31);
    transform:scale(1.2);
}

.squareAreaPage .calculatorBox {
    height: 200px;
}



.rectanglePerimeterPage {
    min-height:100vh;
    display:none;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.rectanglePerimeterPage::before{
    content:"";
    position:absolute;
    inset: 12px;
    min-height: calc(100% - 24px);
    border: 8px solid rgb(255,255,255);
    border-radius: 35px 60px 45px 70px;
    pointer-events:none;

}

.rectanglePerimeterPage h1 {
    margin-top:80px;
    font-size:65px;
    font-weight:800;
    letter-spacing:3px;
    text-shadow: 5px 5px 0px rgba(11, 61, 46, 0.718);
    font-family: 'Baloo 2', sans-serif;
}


.calculatorBox input:focus {
    outline: none;
    border-color: rgb(128, 170, 144);
}

#rectanglePerimeterBackButton {
    border:none;
    border-radius:15px;
    background:rgb(247, 249, 248);
    color: rgb(11,61,46);
    font-family: 'Baloo 2', sans-serif;
    font-size: 18px;
    font-weight: 800;
    width: 80px;
    height: 35px;
    position:absolute;
    top: 35px;
    left: 35px;
    box-shadow: 4px 4px 0px rgba(11,61,46,0.718);

    cursor:pointer;
    transition: 0.2s ease;
}

#rectanglePerimeterBackButton:hover {
    background: rgb(128, 170, 144);
    color: rgb(6,42,31);
    transform:scale(1.2);
}

#rectanglePerimeterResult {
    color: rgb(11,61,46);
    font-size:24px;
    font-weight:800;
    margin:15px 0 0;
}

#calculateRectanglePerimeter {
    border: none;
    border-radius:15px;
    background: rgb(11,61,46);
    color: rgb(247,249,248);
    font-family: "baloo 2";
    font-size:18px;
    font-weight: 800;
    width: 180px;
    height: 30px;
    box-shadow: 4px 4px 0px rgba(11, 61, 46, 0.718);
    cursor: pointer;
    transition: 0.3s ease;
    margin-top:5px;
}

#calculateRectanglePerimeter:hover {
    background: rgb(128, 170, 144);
    color: rgb(6,42,31);
    transform:scale(1.2);
}



.squarePerimeterPage{
    min-height:100vh;
    display:none;
    flex-direction:column;
    align-items: center;
    position:relative
}


.squarePerimeterPage::before{
    content: "";
    position:absolute;
    inset: 12px;
    min-height: calc(100% - 24px);
    border: 8px solid rgb(255,255,255);
    border-radius: 35px 60px 45px 70px;
    pointer-events:none;
}

.squarePerimeterPage h1 {
    margin-top:80px;
    font-size:65px;
    font-weight:800;
    letter-spacing:3px;
    text-shadow: 5px 5px 0px rgba(11, 61, 46, 0.718);
    font-family: 'Baloo 2', sans-serif;

}

#squarePerimeterBackButton {
    border:none;
    border-radius:15px;
    background:rgb(247, 249, 248);
    color: rgb(11,61,46);
    font-family: 'Baloo 2', sans-serif;
    font-size: 18px;
    font-weight: 800;
    width: 80px;
    height: 35px;
    position:absolute;
    top: 35px;
    left: 35px;
    box-shadow: 4px 4px 0px rgba(11,61,46,0.718);

    cursor:pointer;
    transition: 0.2s ease;
}

#squarePerimeterBackButton:hover {
    background: rgb(128, 170, 144);
    color: rgb(6,42,31);
    transform:scale(1.2);
}


#squarePerimeterResult {
    color: rgb(11,61,46);
    font-size:24px;
    font-weight:800;
    margin:15px 0 0;
}

#calculateSquarePerimeter {
    border: none;
    border-radius:15px;
    background: rgb(11,61,46);
    color: rgb(247,249,248);
    font-family: "baloo 2";
    font-size:18px;
    font-weight: 800;
    width: 180px;
    height: 30px;
    box-shadow: 4px 4px 0px rgba(11, 61, 46, 0.718);
    cursor: pointer;
    transition: 0.3s ease;
    margin-top:5px;
}

#calculateSquarePerimeter:hover {
    background: rgb(128, 170, 144);
    color: rgb(6,42,31);
    transform:scale(1.2);
}

.squarePerimeterPage .calculatorBox {
    height: 200px;
}


.triangleAreaPage{
    min-height:100vh;
    display:none;
    flex-direction:column;
    align-items: center;
    position:relative
}


.triangleAreaPage::before{
    content: "";
    position:absolute;
    inset: 12px;
    min-height: calc(100% - 24px);
    border: 8px solid rgb(255,255,255);
    border-radius: 35px 60px 45px 70px;
    pointer-events:none;
}

.triangleAreaPage h1 {
    margin-top:80px;
    font-size:65px;
    font-weight:800;
    letter-spacing:3px;
    text-shadow: 5px 5px 0px rgba(11, 61, 46, 0.718);
    font-family: 'Baloo 2', sans-serif;

}

#triangleAreaBackButton {
    border:none;
    border-radius:15px;
    background:rgb(247, 249, 248);
    color: rgb(11,61,46);
    font-family: 'Baloo 2', sans-serif;
    font-size: 18px;
    font-weight: 800;
    width: 80px;
    height: 35px;
    position:absolute;
    top: 35px;
    left: 35px;
    box-shadow: 4px 4px 0px rgba(11,61,46,0.718);

    cursor:pointer;
    transition: 0.2s ease;
}

#triangleAreaBackButton:hover {
    background: rgb(128, 170, 144);
    color: rgb(6,42,31);
    transform:scale(1.2);
}


#triangleAreaResult {
    color: rgb(11,61,46);
    font-size:24px;
    font-weight:800;
    margin:15px 0 0;
}

#calculateTriangleArea {
    border: none;
    border-radius:15px;
    background: rgb(11,61,46);
    color: rgb(247,249,248);
    font-family: "baloo 2";
    font-size:18px;
    font-weight: 800;
    width: 180px;
    height: 30px;
    box-shadow: 4px 4px 0px rgba(11, 61, 46, 0.718);
    cursor: pointer;
    transition: 0.3s ease;
    margin-top:5px;
}

#calculateTriangleArea:hover {
    background: rgb(128, 170, 144);
    color: rgb(6,42,31);
    transform:scale(1.2);
}

.trianglePerimeterPage{
    min-height:100vh;
    display:none;
    flex-direction:column;
    align-items: center;
    position:relative
}


.trianglePerimeterPage::before{
    content: "";
    position:absolute;
    inset: 12px;
    min-height: calc(100% - 24px);
    border: 8px solid rgb(255,255,255);
    border-radius: 35px 60px 45px 70px;
    pointer-events:none;
}

.trianglePerimeterPage h1 {
    margin-top:80px;
    font-size:65px;
    font-weight:800;
    letter-spacing:3px;
    text-shadow: 5px 5px 0px rgba(11, 61, 46, 0.718);
    font-family: 'Baloo 2', sans-serif;

}

#trianglePerimeterBackButton {
    border:none;
    border-radius:15px;
    background:rgb(247, 249, 248);
    color: rgb(11,61,46);
    font-family: 'Baloo 2', sans-serif;
    font-size: 18px;
    font-weight: 800;
    width: 80px;
    height: 35px;
    position:absolute;
    top: 35px;
    left: 35px;
    box-shadow: 4px 4px 0px rgba(11,61,46,0.718);

    cursor:pointer;
    transition: 0.2s ease;
}

#trianglePerimeterBackButton:hover {
    background: rgb(128, 170, 144);
    color: rgb(6,42,31);
    transform:scale(1.2);
}


#trianglePerimeterResult {
    color: rgb(11,61,46);
    font-size:24px;
    font-weight:800;
    margin:15px 0 0;
}

#calculateTrianglePerimeter {
    border: none;
    border-radius:15px;
    background: rgb(11,61,46);
    color: rgb(247,249,248);
    font-family: "baloo 2";
    font-size:18px;
    font-weight: 800;
    width: 180px;
    height: 30px;
    box-shadow: 4px 4px 0px rgba(11, 61, 46, 0.718);
    cursor: pointer;
    transition: 0.3s ease;
    margin-top:5px;
}

#calculateTrianglePerimeter:hover {
    background: rgb(128, 170, 144);
    color: rgb(6,42,31);
    transform:scale(1.2);
}

.trianglePerimeterPage .calculatorBox {
    top: 10px;
    height: auto;
    padding-bottom: 20px;
    margin-bottom: 20px;
}


.circleAreaPage{
    min-height:100vh;
    display:none;
    flex-direction:column;
    align-items: center;
    position:relative
}


.circleAreaPage::before{
    content: "";
    position:absolute;
    inset: 12px;
    min-height: calc(100% - 24px);
    border: 8px solid rgb(255,255,255);
    border-radius: 35px 60px 45px 70px;
    pointer-events:none;
}

.circleAreaPage h1 {
    margin-top:80px;
    font-size:65px;
    font-weight:800;
    letter-spacing:3px;
    text-shadow: 5px 5px 0px rgba(11, 61, 46, 0.718);
    font-family: 'Baloo 2', sans-serif;

}

#circleAreaBackButton {
    border:none;
    border-radius:15px;
    background:rgb(247, 249, 248);
    color: rgb(11,61,46);
    font-family: 'Baloo 2', sans-serif;
    font-size: 18px;
    font-weight: 800;
    width: 80px;
    height: 35px;
    position:absolute;
    top: 35px;
    left: 35px;
    box-shadow: 4px 4px 0px rgba(11,61,46,0.718);

    cursor:pointer;
    transition: 0.2s ease;
}

#circleAreaBackButton:hover {
    background: rgb(128, 170, 144);
    color: rgb(6,42,31);
    transform:scale(1.2);
}


#circleAreaResult {
    color: rgb(11,61,46);
    font-size:24px;
    font-weight:800;
    margin:15px 0 0;
}

#calculateCircleArea {
    border: none;
    border-radius:15px;
    background: rgb(11,61,46);
    color: rgb(247,249,248);
    font-family: "baloo 2";
    font-size:18px;
    font-weight: 800;
    width: 180px;
    height: 30px;
    box-shadow: 4px 4px 0px rgba(11, 61, 46, 0.718);
    cursor: pointer;
    transition: 0.3s ease;
    margin-top:5px;
}

#calculateCircleArea:hover {
    background: rgb(128, 170, 144);
    color: rgb(6,42,31);
    transform:scale(1.2);
}

.circleAreaPage .calculatorBox {
    top: 10px;
    height: auto;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.circleCircumferencePage{
    min-height:100vh;
    display:none;
    flex-direction:column;
    align-items: center;
    position:relative
}


.circleCircumferencePage::before{
    content: "";
    position:absolute;
    inset: 12px;
    min-height: calc(100% - 24px);
    border: 8px solid rgb(255,255,255);
    border-radius: 35px 60px 45px 70px;
    pointer-events:none;
}

.circleCircumferencePage h1 {
    margin-top:80px;
    font-size:65px;
    font-weight:800;
    letter-spacing:3px;
    text-shadow: 5px 5px 0px rgba(11, 61, 46, 0.718);
    font-family: 'Baloo 2', sans-serif;

}

#circleCircumferenceBackButton {
    border:none;
    border-radius:15px;
    background:rgb(247, 249, 248);
    color: rgb(11,61,46);
    font-family: 'Baloo 2', sans-serif;
    font-size: 18px;
    font-weight: 800;
    width: 80px;
    height: 35px;
    position:absolute;
    top: 35px;
    left: 35px;
    box-shadow: 4px 4px 0px rgba(11,61,46,0.718);

    cursor:pointer;
    transition: 0.2s ease;
}

#circleCircumferenceBackButton:hover {
    background: rgb(128, 170, 144);
    color: rgb(6,42,31);
    transform:scale(1.2);
}


#circleCircumferenceResult {
    color: rgb(11,61,46);
    font-size:24px;
    font-weight:800;
    margin:15px 0 0;
}

#calculateCircleCircumference {
    border: none;
    border-radius:15px;
    background: rgb(11,61,46);
    color: rgb(247,249,248);
    font-family: "baloo 2";
    font-size:18px;
    font-weight: 800;
    width: 180px;
    height: 30px;
    box-shadow: 4px 4px 0px rgba(11, 61, 46, 0.718);
    cursor: pointer;
    transition: 0.3s ease;
    margin-top:5px;
}

#calculateCircleCircumference:hover {
    background: rgb(128, 170, 144);
    color: rgb(6,42,31);
    transform:scale(1.2);
}

.circleCircumferencePage .calculatorBox {
    top: 10px;
    height: auto;
    padding-bottom: 20px;
    margin-bottom: 20px;
}


.trapezoidAreaPage{
    min-height:100vh;
    display:none;
    flex-direction:column;
    align-items: center;
    position:relative
}


.trapezoidAreaPage::before{
    content: "";
    position:absolute;
    inset: 12px;
    min-height: calc(100% - 24px);
    border: 8px solid rgb(255,255,255);
    border-radius: 35px 60px 45px 70px;
    pointer-events:none;
}

.trapezoidAreaPage h1 {
    margin-top:80px;
    font-size:65px;
    font-weight:800;
    letter-spacing:3px;
    text-shadow: 5px 5px 0px rgba(11, 61, 46, 0.718);
    font-family: 'Baloo 2', sans-serif;

}

#trapezoidAreaBackButton {
    border:none;
    border-radius:15px;
    background:rgb(247, 249, 248);
    color: rgb(11,61,46);
    font-family: 'Baloo 2', sans-serif;
    font-size: 18px;
    font-weight: 800;
    width: 80px;
    height: 35px;
    position:absolute;
    top: 35px;
    left: 35px;
    box-shadow: 4px 4px 0px rgba(11,61,46,0.718);

    cursor:pointer;
    transition: 0.2s ease;
}

#trapezoidAreaBackButton:hover {
    background: rgb(128, 170, 144);
    color: rgb(6,42,31);
    transform:scale(1.2);
}


#trapezoidAreaResult {
    color: rgb(11,61,46);
    font-size:24px;
    font-weight:800;
    margin:15px 0 0;
}

#calculateTrapezoidArea {
    border: none;
    border-radius:15px;
    background: rgb(11,61,46);
    color: rgb(247,249,248);
    font-family: "baloo 2";
    font-size:18px;
    font-weight: 800;
    width: 180px;
    height: 30px;
    box-shadow: 4px 4px 0px rgba(11, 61, 46, 0.718);
    cursor: pointer;
    transition: 0.3s ease;
    margin-top:5px;
}

#calculateTrapezoidArea:hover {
    background: rgb(128, 170, 144);
    color: rgb(6,42,31);
    transform:scale(1.2);
}

.trapezoidAreaPage .calculatorBox {
    top: 10px;
    height: auto;
    padding-bottom: 20px;
    margin-bottom: 20px;
}




.quadrilateralPerimeterPage{
    min-height:100vh;
    display:none;
    flex-direction:column;
    align-items: center;
    position:relative
}


.quadrilateralPerimeterPage::before{
    content: "";
    position:absolute;
    inset: 12px;
    min-height: calc(100% - 24px);
    border: 8px solid rgb(255,255,255);
    border-radius: 35px 60px 45px 70px;
    pointer-events:none;
}

.quadrilateralPerimeterPage h1 {
    margin-top:80px;
    font-size:65px;
    font-weight:800;
    letter-spacing:3px;
    text-shadow: 5px 5px 0px rgba(11, 61, 46, 0.718);
    font-family: 'Baloo 2', sans-serif;

}

#quadrilateralPerimeterBackButton {
    border:none;
    border-radius:15px;
    background:rgb(247, 249, 248);
    color: rgb(11,61,46);
    font-family: 'Baloo 2', sans-serif;
    font-size: 18px;
    font-weight: 800;
    width: 80px;
    height: 35px;
    position:absolute;
    top: 35px;
    left: 35px;
    box-shadow: 4px 4px 0px rgba(11,61,46,0.718);

    cursor:pointer;
    transition: 0.2s ease;
}

#quadrilateralPerimeterBackButton:hover {
    background: rgb(128, 170, 144);
    color: rgb(6,42,31);
    transform:scale(1.2);
}


#quadrilateralPerimeterResult {
    color: rgb(11,61,46);
    font-size:24px;
    font-weight:800;
    margin:15px 0 0;
}

#calculateQuadrilateralPerimeter {
    border: none;
    border-radius:15px;
    background: rgb(11,61,46);
    color: rgb(247,249,248);
    font-family: "baloo 2";
    font-size:18px;
    font-weight: 800;
    width: 180px;
    height: 30px;
    box-shadow: 4px 4px 0px rgba(11, 61, 46, 0.718);
    cursor: pointer;
    transition: 0.3s ease;
    margin-top:5px;
}

#calculateQuadrilateralPerimeter:hover {
    background: rgb(128, 170, 144);
    color: rgb(6,42,31);
    transform:scale(1.2);
}

.quadrilateralPerimeterPage .calculatorBox {
    top: 10px;
    height: auto;
    padding-bottom: 20px;
    margin-bottom: 20px;
}








.parallelogramAreaPage{
    min-height:100vh;
    display:none;
    flex-direction:column;
    align-items: center;
    position:relative
}


.parallelogramAreaPage::before{
    content: "";
    position:absolute;
    inset: 12px;
    min-height: calc(100% - 24px);
    border: 8px solid rgb(255,255,255);
    border-radius: 35px 60px 45px 70px;
    pointer-events:none;
}

.parallelogramAreaPage h1 {
    margin-top:80px;
    font-size:65px;
    font-weight:800;
    letter-spacing:3px;
    text-shadow: 5px 5px 0px rgba(11, 61, 46, 0.718);
    font-family: 'Baloo 2', sans-serif;

}

#parallelogramAreaBackButton {
    border:none;
    border-radius:15px;
    background:rgb(247, 249, 248);
    color: rgb(11,61,46);
    font-family: 'Baloo 2', sans-serif;
    font-size: 18px;
    font-weight: 800;
    width: 80px;
    height: 35px;
    position:absolute;
    top: 35px;
    left: 35px;
    box-shadow: 4px 4px 0px rgba(11,61,46,0.718);

    cursor:pointer;
    transition: 0.2s ease;
}

#parallelogramAreaBackButton:hover {
    background: rgb(128, 170, 144);
    color: rgb(6,42,31);
    transform:scale(1.2);
}


#parallelogramAreaResult {
    color: rgb(11,61,46);
    font-size:24px;
    font-weight:800;
    margin:15px 0 0;
}

#calculateParallelogramArea {
    border: none;
    border-radius:15px;
    background: rgb(11,61,46);
    color: rgb(247,249,248);
    font-family: "baloo 2";
    font-size:18px;
    font-weight: 800;
    width: 180px;
    height: 30px;
    box-shadow: 4px 4px 0px rgba(11, 61, 46, 0.718);
    cursor: pointer;
    transition: 0.3s ease;
    margin-top:5px;
}

#calculateParallelogramArea:hover {
    background: rgb(128, 170, 144);
    color: rgb(6,42,31);
    transform:scale(1.2);
}

.parallelogramAreaPage .calculatorBox {
    top: 10px;
    height: auto;
    padding-bottom: 20px;
    margin-bottom: 20px;
}




.slopePage{
    min-height:100vh;
    display:none;
    flex-direction:column;
    align-items: center;
    position:relative
}


.slopePage::before{
    content: "";
    position:absolute;
    inset: 12px;
    min-height: calc(100% - 24px);
    border: 8px solid rgb(255,255,255);
    border-radius: 35px 60px 45px 70px;
    pointer-events:none;
}

.slopePage h1 {
    margin-top:80px;
    font-size:65px;
    font-weight:800;
    letter-spacing:3px;
    text-shadow: 5px 5px 0px rgba(11, 61, 46, 0.718);
    font-family: 'Baloo 2', sans-serif;

}

#slopeBackButton {
    border:none;
    border-radius:15px;
    background:rgb(247, 249, 248);
    color: rgb(11,61,46);
    font-family: 'Baloo 2', sans-serif;
    font-size: 18px;
    font-weight: 800;
    width: 80px;
    height: 35px;
    position:absolute;
    top: 35px;
    left: 35px;
    box-shadow: 4px 4px 0px rgba(11,61,46,0.718);

    cursor:pointer;
    transition: 0.2s ease;
}

#slopeBackButton:hover {
    background: rgb(128, 170, 144);
    color: rgb(6,42,31);
    transform:scale(1.2);
}


#slopeResult {
    color: rgb(11,61,46);
    font-size:24px;
    font-weight:800;
    margin:15px 0 0;
}

#calculateSlope {
    border: none;
    border-radius:15px;
    background: rgb(11,61,46);
    color: rgb(247,249,248);
    font-family: "baloo 2";
    font-size:18px;
    font-weight: 800;
    width: 180px;
    height: 30px;
    box-shadow: 4px 4px 0px rgba(11, 61, 46, 0.718);
    cursor: pointer;
    transition: 0.3s ease;
    margin-top:5px;
}

#calculateSlope:hover {
    background: rgb(128, 170, 144);
    color: rgb(6,42,31);
    transform:scale(1.2);
}

.slopePage .calculatorBox {
    top: 10px;
    height: auto;
    padding-bottom: 20px;
    margin-bottom: 20px;
}






.distancePage{
    min-height:100vh;
    display:none;
    flex-direction:column;
    align-items: center;
    position:relative
}


.distancePage::before{
    content: "";
    position:absolute;
    inset: 12px;
    min-height: calc(100% - 24px);
    border: 8px solid rgb(255,255,255);
    border-radius: 35px 60px 45px 70px;
    pointer-events:none;
}

.distancePage h1 {
    margin-top:80px;
    font-size:65px;
    font-weight:800;
    letter-spacing:3px;
    text-shadow: 5px 5px 0px rgba(11, 61, 46, 0.718);
    font-family: 'Baloo 2', sans-serif;

}

#distanceBackButton {
    border:none;
    border-radius:15px;
    background:rgb(247, 249, 248);
    color: rgb(11,61,46);
    font-family: 'Baloo 2', sans-serif;
    font-size: 18px;
    font-weight: 800;
    width: 80px;
    height: 35px;
    position:absolute;
    top: 35px;
    left: 35px;
    box-shadow: 4px 4px 0px rgba(11,61,46,0.718);

    cursor:pointer;
    transition: 0.2s ease;
}

#distanceBackButton:hover {
    background: rgb(128, 170, 144);
    color: rgb(6,42,31);
    transform:scale(1.2);
}


#distanceResult {
    color: rgb(11,61,46);
    font-size:24px;
    font-weight:800;
    margin:15px 0 0;
}

#calculateDistance {
    border: none;
    border-radius:15px;
    background: rgb(11,61,46);
    color: rgb(247,249,248);
    font-family: "baloo 2";
    font-size:18px;
    font-weight: 800;
    width: 180px;
    height: 30px;
    box-shadow: 4px 4px 0px rgba(11, 61, 46, 0.718);
    cursor: pointer;
    transition: 0.3s ease;
    margin-top:5px;
}

#calculateDistance:hover {
    background: rgb(128, 170, 144);
    color: rgb(6,42,31);
    transform:scale(1.2);
}

.distancePage .calculatorBox {
    top: 10px;
    height: auto;
    padding-bottom: 20px;
    margin-bottom: 20px;
}




.midpointPage{
    min-height:100vh;
    display:none;
    flex-direction:column;
    align-items: center;
    position:relative
}


.midpointPage::before{
    content: "";
    position:absolute;
    inset: 12px;
    min-height: calc(100% - 24px);
    border: 8px solid rgb(255,255,255);
    border-radius: 35px 60px 45px 70px;
    pointer-events:none;
}

.midpointPage h1 {
    margin-top:80px;
    font-size:65px;
    font-weight:800;
    letter-spacing:3px;
    text-shadow: 5px 5px 0px rgba(11, 61, 46, 0.718);
    font-family: 'Baloo 2', sans-serif;

}

#midpointBackButton {
    border:none;
    border-radius:15px;
    background:rgb(247, 249, 248);
    color: rgb(11,61,46);
    font-family: 'Baloo 2', sans-serif;
    font-size: 18px;
    font-weight: 800;
    width: 80px;
    height: 35px;
    position:absolute;
    top: 35px;
    left: 35px;
    box-shadow: 4px 4px 0px rgba(11,61,46,0.718);

    cursor:pointer;
    transition: 0.2s ease;
}

#midpointBackButton:hover {
    background: rgb(128, 170, 144);
    color: rgb(6,42,31);
    transform:scale(1.2);
}


#midpointResult {
    color: rgb(11,61,46);
    font-size:24px;
    font-weight:800;
    margin:15px 0 0;
}

#calculateMidpoint {
    border: none;
    border-radius:15px;
    background: rgb(11,61,46);
    color: rgb(247,249,248);
    font-family: "baloo 2";
    font-size:18px;
    font-weight: 800;
    width: 180px;
    height: 30px;
    box-shadow: 4px 4px 0px rgba(11, 61, 46, 0.718);
    cursor: pointer;
    transition: 0.3s ease;
    margin-top:5px;
}

#calculateMidpoint:hover {
    background: rgb(128, 170, 144);
    color: rgb(6,42,31);
    transform:scale(1.2);
}

.midpointPage .calculatorBox {
    top: 10px;
    height: auto;
    padding-bottom: 20px;
    margin-bottom: 20px;
}


.pythagoreanPageA{
    min-height:100vh;
    display:none;
    flex-direction:column;
    align-items: center;
    position:relative
}


.pythagoreanPageA::before{
    content: "";
    position:absolute;
    inset: 12px;
    min-height: calc(100% - 24px);
    border: 8px solid rgb(255,255,255);
    border-radius: 35px 60px 45px 70px;
    pointer-events:none;
}

.pythagoreanPageA h1 {
    margin-top:80px;
    font-size:65px;
    text-align: center;
    font-weight:800;
    letter-spacing:3px;
    text-shadow: 5px 5px 0px rgba(11, 61, 46, 0.718);
    font-family: 'Baloo 2', sans-serif;

}

#pythagoreanABackButton {
    border:none;
    border-radius:15px;
    background:rgb(247, 249, 248);
    color: rgb(11,61,46);
    font-family: 'Baloo 2', sans-serif;
    font-size: 18px;
    font-weight: 800;
    width: 80px;
    height: 35px;
    position:absolute;
    top: 35px;
    left: 35px;
    box-shadow: 4px 4px 0px rgba(11,61,46,0.718);

    cursor:pointer;
    transition: 0.2s ease;
}

#pythagoreanABackButton:hover {
    background: rgb(128, 170, 144);
    color: rgb(6,42,31);
    transform:scale(1.2);
}


#pythagoreanAResult {
    color: rgb(11,61,46);
    font-size:24px;
    font-weight:800;
    margin:15px 0 0;
}

#calculatePythagoreanA {
    border: none;
    border-radius:15px;
    background: rgb(11,61,46);
    color: rgb(247,249,248);
    font-family: "baloo 2";
    font-size:18px;
    font-weight: 800;
    width: 180px;
    height: 30px;
    box-shadow: 4px 4px 0px rgba(11, 61, 46, 0.718);
    cursor: pointer;
    transition: 0.3s ease;
    margin-top:5px;
}

#calculatePythagoreanA:hover {
    background: rgb(128, 170, 144);
    color: rgb(6,42,31);
    transform:scale(1.2);
}

.pythagoreanPageA .calculatorBox {
    top: 10px;
    height: auto;
    padding-bottom: 20px;
    margin-bottom: 20px;
}


.pythagoreanPageB{
    min-height:100vh;
    display:none;
    flex-direction:column;
    align-items: center;
    position:relative
}


.pythagoreanPageB::before{
    content: "";
    position:absolute;
    inset: 12px;
    min-height: calc(100% - 24px);
    border: 8px solid rgb(255,255,255);
    border-radius: 35px 60px 45px 70px;
    pointer-events:none;
}

.pythagoreanPageB h1 {
    margin-top:80px;
    font-size:65px;
    text-align: center;
    font-weight:800;
    letter-spacing:3px;
    text-shadow: 5px 5px 0px rgba(11, 61, 46, 0.718);
    font-family: 'Baloo 2', sans-serif;

}

#pythagoreanBBackButton {
    border:none;
    border-radius:15px;
    background:rgb(247, 249, 248);
    color: rgb(11,61,46);
    font-family: 'Baloo 2', sans-serif;
    font-size: 18px;
    font-weight: 800;
    width: 80px;
    height: 35px;
    position:absolute;
    top: 35px;
    left: 35px;
    box-shadow: 4px 4px 0px rgba(11,61,46,0.718);

    cursor:pointer;
    transition: 0.2s ease;
}

#pythagoreanBBackButton:hover {
    background: rgb(128, 170, 144);
    color: rgb(6,42,31);
    transform:scale(1.2);
}


#pythagoreanBResult {
    color: rgb(11,61,46);
    font-size:24px;
    font-weight:800;
    margin:15px 0 0;
}

#calculatePythagoreanB {
    border: none;
    border-radius:15px;
    background: rgb(11,61,46);
    color: rgb(247,249,248);
    font-family: "baloo 2";
    font-size:18px;
    font-weight: 800;
    width: 180px;
    height: 30px;
    box-shadow: 4px 4px 0px rgba(11, 61, 46, 0.718);
    cursor: pointer;
    transition: 0.3s ease;
    margin-top:5px;
}

#calculatePythagoreanB:hover {
    background: rgb(128, 170, 144);
    color: rgb(6,42,31);
    transform:scale(1.2);
}

.pythagoreanPageB .calculatorBox {
    top: 10px;
    height: auto;
    padding-bottom: 20px;
    margin-bottom: 20px;
}





.pythagoreanPageC{
    min-height:100vh;
    display:none;
    flex-direction:column;
    align-items: center;
    position:relative
}


.pythagoreanPageC::before{
    content: "";
    position:absolute;
    inset: 12px;
    min-height: calc(100% - 24px);
    border: 8px solid rgb(255,255,255);
    border-radius: 35px 60px 45px 70px;
    pointer-events:none;
}

.pythagoreanPageC h1 {
    margin-top:80px;
    font-size:65px;
    text-align: center;
    font-weight:800;
    letter-spacing:3px;
    text-shadow: 5px 5px 0px rgba(11, 61, 46, 0.718);
    font-family: 'Baloo 2', sans-serif;

}

#pythagoreanCBackButton {
    border:none;
    border-radius:15px;
    background:rgb(247, 249, 248);
    color: rgb(11,61,46);
    font-family: 'Baloo 2', sans-serif;
    font-size: 18px;
    font-weight: 800;
    width: 80px;
    height: 35px;
    position:absolute;
    top: 35px;
    left: 35px;
    box-shadow: 4px 4px 0px rgba(11,61,46,0.718);

    cursor:pointer;
    transition: 0.2s ease;
}

#pythagoreanCBackButton:hover {
    background: rgb(128, 170, 144);
    color: rgb(6,42,31);
    transform:scale(1.2);
}


#pythagoreanCResult {
    color: rgb(11,61,46);
    font-size:24px;
    font-weight:800;
    margin:15px 0 0;
}

#calculatePythagoreanC {
    border: none;
    border-radius:15px;
    background: rgb(11,61,46);
    color: rgb(247,249,248);
    font-family: "baloo 2";
    font-size:18px;
    font-weight: 800;
    width: 180px;
    height: 30px;
    box-shadow: 4px 4px 0px rgba(11, 61, 46, 0.718);
    cursor: pointer;
    transition: 0.3s ease;
    margin-top:5px;
}

#calculatePythagoreanC:hover {
    background: rgb(128, 170, 144);
    color: rgb(6,42,31);
    transform:scale(1.2);
}

.pythagoreanPageC .calculatorBox {
    top: 10px;
    height: auto;
    padding-bottom: 20px;
    margin-bottom: 20px;
}